/* Definição das variáveis de cor */
:root {
    --background-color: #573824;
    --surface-color: #F0E8C2;
    --text-color-primary: #291B1A;
    --text-color-secondary: #573A37;
    --text-color-bg-on: #F0E8C2;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-direction: column;
}

/* Estilização do body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--background-color);
    background-image: url('Assets/main-image.png');
    background-size: 110%; /* Amplia levemente a imagem */
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px); /* Aplica desfoque à imagem de fundo */
    font-family: 'Alice', serif;
}

/* Estilização do contêiner principal */
.container {
    background-color: var(--surface-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    filter: none; /* Remove o desfoque do conteúdo */
    text-align:start;
    color: var(--text-color-primary);
    max-width: 800px;
    margin: 20px;
}

/* Estilização da imagem principal */
.imagem {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Estilização dos títulos */
h1, h2 {
    color: var(--text-color-secondary);
    margin-bottom: 10px;
}

/* Estilização dos parágrafos */
p {
    color: var(--text-color-primary);
    margin-bottom: 10px;
    text-align: justify;
}

/* Estilização das listas de ingredientes */
.lista-ingredientes {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
}

/* Estilização do footer */
footer {
    margin-top: 20px;
    font-size: 0.9em;
    color: var(--text-color-secondary);
}

.imagem-coracao {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: 0 5px;
}
